div.info-header {
    background-color: #bab6ac;
    border-bottom: thick double #32a1ce;

    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;
    padding: 6px;

    font-size: x-large;
}

.chart {
    max-width: 700px;
    min-width: 700px;
    max-height: 300px;
    min-height: 300px;
}

