#pragma once

// Настройки подключения к сети Интернет

#define SSID ""           // имя сети Wifi
#define PASSWORD ""       // пароль Wifi
#define SERVER_IP ""      // IP-адрес удаленного сервера
#define STATION_ID        // id станции (уникален)
#define STATION_NAME ""   // имя станции (уникально)

// Настройки физического подключения датчиков

#define PHOTO_PIN         // пин подключения фоторезистора
#define DHT_PIN           // пин подключения датчика температуры
#define DS1302_RST        // пин подключения часов реального времени
#define DS1302_CLK        // пин подключения часов реального времени
#define DS1302_DAT        // пин подключения часов реального времени
#define ESP_RX            // пин подключения Wifi-модуля
#define ESP_TX            // пин подключения Wifi-модуля
