<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New station</title>
</head>
<body>

<form th:method="POST" th:action="@{/stations}" th:object="${station}">
    <label for="stationID">Enter station ID: </label>
    <input type="text" th:field="*{stationID}" id="stationID"/>
    <div style="color:red" th:if="${#fields.hasErrors('stationID')}" th:errors="*{stationID}">stationID Error</div>
    <br/>

    <label for="stationName">Enter station name: </label>
    <input type="text" th:field="*{stationName}" id="stationName"/>
    <div style="color:red" th:if="${#fields.hasErrors('stationName')}" th:errors="*{stationName}">Name Error</div>
    <br/>

    <label for="temperature">Enter temperature: </label>
    <input type="text" th:field="*{temperature}" id="temperature"/>
    <div style="color:red" th:if="${#fields.hasErrors('temperature')}" th:errors="*{temperature}">Temperature Error</div>
    <br/>

    <label for="brightness">Enter brightness: </label>
    <input type="text" th:field="*{brightness}" id="brightness"/>
    <div style="color:red" th:if="${#fields.hasErrors('brightness')}" th:errors="*{brightness}">Brightness Error</div>
    <br/>

    <label for="humidity">Enter humidity: </label>
    <input type="text" th:field="*{humidity}" id="humidity"/>
    <div style="color:red" th:if="${#fields.hasErrors('humidity')}" th:errors="*{humidity}">Humidity Error</div>
    <br/>

    <label for="error">Enter error: </label>
    <input type="text" th:field="*{error}" id="error"/>
    <div style="color:red" th:if="${#fields.hasErrors('error')}" th:errors="*{error}">Error Error</div>
    <br/>

    <input type="submit" value="Create!"/>
</form>

</body>
</html>