<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>

<p th:text="${'Station ID: ' + stations[0].getStationID()}">ID</p>
<p th:text="${'Station name: ' + stations[0].getStationName()}">NAME</p>
<div th:each="station : ${stations}">
    <hr/>
    <p th:text="${'Temperature: ' + station.getTemperature()}">TEMPERATURE</p>
    <p th:text="${'Brightness: ' + station.getBrightness()}">BRIGHTNESS</p>
    <p th:text="${'Humidity: ' + station.getHumidity()}">HUMIDITY</p>
</div>

<form th:method="DELETE" th:action="@{/stations/{id}(id=${stations[0].getStationID()})}">
    <button type="submit" id="submitButton">Delete</button>
</form>

<a href="/stations">Back to list of stations</a>

</body>
</html>
