<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${'Станция #' + stations[0].getStationID()}">ID</title>

    <link th:href="@{/css/show-style.css}" rel="stylesheet" />
</head>
<body>
    <div class="info-header">
        <div th:text="${'ID станции: ' + stations[0].getStationID()}">ID</div>
        <div th:text="${'Имя станции: ' + stations[0].getStationName()}">NAME</div>
    </div>

    <div th:each="station : ${stations}">
        <p th:text="${'Datetime: ' + station.getDatetime()}">DATETIME</p>
        <p th:text="${'Temperature: ' + station.getTemperature()}">TEMPERATURE</p>
        <p th:text="${'Brightness: ' + station.getBrightness()}">BRIGHTNESS</p>
        <p th:text="${'Humidity: ' + station.getHumidity()}">HUMIDITY</p>
        <hr/>
    </div>

    <form th:method="DELETE" th:action="@{/stations/{id}(id=${stations[0].getStationID()})}">
        <button type="submit" id="submitButton">Delete</button>
    </form>

    <a href="/stations">Назад</a>
</body>
</html>
